<html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.prod.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="theme.css">
</head>
<body>

<div id="app">
  <div class="container p-3">
    <h1>Code highlight</h1>
    <div class="row mt-3">
      <div class="col-sm-12">
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-typescript" value="typescript">
          <label class="form-check-label" for="radio-typescript">TypeScript</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-javascript" value="javascript">
          <label class="form-check-label" for="radio-javascript">JavaScript</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-css" value="css">
          <label class="form-check-label" for="radio-css">CSS</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-scss" value="scss">
          <label class="form-check-label" for="radio-scss">SCSS</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-html" value="html">
          <label class="form-check-label" for="radio-html">HTML</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-bash" value="bash">
          <label class="form-check-label" for="radio-bash">Bash</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-python" value="python">
          <label class="form-check-label" for="radio-python">Python</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-elixir" value="elixir">
          <label class="form-check-label" for="radio-elixir">Elixir</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-erb" value="erb">
          <label class="form-check-label" for="radio-erb">erb</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-erlang" value="erlang">
          <label class="form-check-label" for="radio-erlang">Erlang</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-java" value="java">
          <label class="form-check-label" for="radio-java">Java</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-xml" value="xml">
          <label class="form-check-label" for="radio-xml">XML</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-yaml" value="yaml">
          <label class="form-check-label" for="radio-yaml">Yaml</label>
        </div>
        <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-diff" value="diff">
          <label class="form-check-label" for="radio-diff">Diff</label>
        </div>
        <!-- <div class="form-check form-check-inline">
          <input v-model="language" class="form-check-input" type="radio" id="radio-auto" value="">
          <label class="form-check-label" for="radio-auto">Auto</label>
        </div> -->
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-6">
        <textarea class="form-control" rows="10" v-model="code"></textarea>
      </div>
      <div class="col-sm-6">
        <prism :language="language" :code="code"></prism>
      </div>
    </div>
  </div>
</div>

<script src="app.js"></script>
</body>
</html>
